@model Model.dbKunde
@{
    ViewBag.Title = "MinSide";
}

<div class="jumbotron">

    <div class="row">
        <div class="col-sm-10"><h1>@Session["Firstname"].ToString() @Session["Lastname"].ToString()</h1></div>
    </div>

    <div class="row">
        <div class="text-center">
            <img src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png" class="avatar img-circle img-thumbnail" alt="avatar">
        </div>
    </div>

    <div class="tab-pane" id="messages">

        <h2></h2>

        <hr>
        <form class="form" action="##" method="post" id="registrationForm">

            <div class="form-group">

                <div class="col-xs-6">
                    <label for="first_name">Fornavn</label>
                    @Session["Firstname"].ToString()
                </div>
            </div>
            <div class="form-group">

                <div class="col-xs-6">
                    <label for="last_name">Etternavn</label>
                    @Session["Lastname"].ToString()
                </div>
            </div>

            <div class="form-group">

                <div class="col-xs-6">
                    <label for="phone">Poststed</label>
                    @Session["Poststed"].ToString()
                </div>
            </div>

            <div class="form-group">
                <div class="col-xs-6">
                    <label for="mobile">Postnr</label>
                    @Session["Postnr"].ToString()
                </div>
            </div>
            <div class="form-group">

                <div class="col-xs-6">
                    <label for="email">E-post</label>
                    @Session["Email"].ToString()
                </div>
            </div>
            <div class="form-group">

                <div class="col-xs-6">
                    <label for="email">Passord</label>
                    @Session["Passord"].ToString()
                </div>
            </div>

            <div class="form-group">
                <div class="col-xs-12">
                    <br>
                    <a class="btn btn-lg btn-success" href="/Kunde/EditKunde?id=@Model*"><i class="glyphicon glyphicon-ok-sign"></i> Rediger</a>
                    <button class="btn btn-lg" type="reset"><i class="glyphicon glyphicon-repeat"></i> Reset</button>
                </div>
            </div>
        </form>

    </div>
