@model Model.Kunde

@{
    ViewBag.Title = "Register";
}






<div class="container py-5">
    <div class="row">
        <div class="col-md-12">
            <h2 class="text-center text-white mb-4">MovieChill</h2>
            <div class="row">
                <div class="col-md-6 mx-auto">

                    <!-- form card login -->
                    <div class="card rounded-0">
                        <div class="card-header">
                            <h3 class="mb-0">Registrer</h3>
                        </div>
                        <div class="card-body">
                            <form class="form" role="form" autocomplete="off" id="formLogin" novalidate="" method="POST">
                                <div class="form-group">
                                    <label for="uname1">Fornavn</label>
                                    @Html.EditorFor(model => model.Firstname, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Firstname, "", new { @class = "text-danger" })
                                </div>


                                <div class="form-group">
                                    <label>Etternavn</label>
                                    @Html.EditorFor(model => model.Lastname, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Lastname, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    <label>Poststed</label>
                                    @Html.EditorFor(model => model.Poststed.PostSted, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Poststed.PostSted, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    <label>Postnr</label>
                                    @Html.EditorFor(model => model.Poststed.PostNr, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Poststed.PostNr, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    <label>E-post</label>
                                    @Html.TextBoxFor(model => model.Email, new { @id = "epost", @onchange = "UserCheck();", @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Email, "", new { @id = "status", @onchange = "UserCheck();" })
                                </div>

                                <div class="form-group">
                                    <label>Passord</label>
                                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                                </div>

                                <button type="submit" class="btn btn-success btn-lg float-right" id="btnLogin">Registrer</button>
                            </form>
                        </div>
                        <!--/card-block-->
                    </div>
                    <!-- /form card login -->

                </div>


            </div>
            <!--/row-->

        </div>
        <!--/col-->
    </div>
    <!--/row-->
</div>
<!--/container-->


<script>
       
    function UserCheck() {
        $("#status").html("Checking...");
        $.post("@Url.Action("CheckUsernameAvailability", "Kunde")",
            {
                userdata: $("#epost").val()
            },
        function (data) {
            if (data == 0) {
                $("#status").html('<font color="Green">Godkjent!</font>');
                $("#epost").css("border-color", "Green");

            }
            else {
                $("#status").html('<font color="Red">E-post adressen er allerede tatt! Prøv igjen.</font>');
                $("#epost").css("border-color", "Red");
            }
        });
    }

</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
