@model IEnumerable<Registration_løsning.Models.Kunde>

@{
    ViewBag.Title = "KundeListe";
}

<h2>KundeListe</h2>

<p>
    @Html.ActionLink("Create New", "Register")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Firstname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lastname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Adresse.PostSted)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Adresse.PostNr)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Firstname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Lastname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Adresse.PostSted)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Adresse.PostNr)
        </td>

        <td>
            @Html.ActionLink("Edit", "EndreKunde", new { id = item.Id }) |
            @Html.ActionLink("slett", "Slett", new { id = item.Id })
        </td>
    </tr>
}

</table>
