@model IEnumerable<Registration_løsning.Models.Film>

@{
    ViewBag.Title = "Handelkurve";
}


<h2 class="text-light">Handelkurve</h2>


<table class="table text-light">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pris)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Catrgory)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pris)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Catrgory)
            </td>
            <td>
                <a class="btn btn-primary btn-lg" href="/bestilling/SlettFilmFraHandelkurve?id=@item.Id" style="background-color:red">Slett</a>
            </td>


        </tr>
    }

</table>


<dd>
    @if (Session["UserId"] == null)
    {

        <a class="btn btn-primary btn-lg" href="/Home/Index" style="background-color:dodgerblue">forsett å handle</a>

        <h4 class="text-light">Du må være innlogget for å gjennomføre bataling</h4>

    }

    @if (Session["UserId"] != null)
    {

        <a class="btn btn-primary btn-lg" href="/Home/Index" style="background-color:dodgerblue">forsett å handle</a>

        <a class="btn btn-primary btn-lg" href="/bestilling/Betal?id=@Model*/" style="background-color:dodgerblue">Betal</a>
    }

</dd>