@model IEnumerable<Registration_løsning.Models.Order>

@{
    ViewBag.Title = "Order";
}

<h2>Order</h2>

<p>
    @Html.ActionLink("Create New", "Bestilling")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Kunde.Firstname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Film.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Film.Pris)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Film.Catrgory)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Film.Discription)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Kunde.Firstname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Film.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Film.Pris)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Film.Catrgory)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Film.Discription)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
